
body
{
    font-family: 'Raleway', sans-serif;
	
}

#bloc_page
{
	margin-left: 3% ;
	margin-right: 3%;
}

header
{
	color: F2F2F2;
}

#logo
{
	width: 5em;
}


nav ul
{
	display: flex;
	list-style-type: none; 
}


nav li
{
	margin-right: 100px;
	margin-left: -20px;
}



#S_inscrire
{
	float: right;
}

.Rechercher
{
    font-size: 20px;
}

#Filtres
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.populaires 
{
	display: flex;
	
	
}

.populaires figcaption
{
	width: 100%;
	background-color: white;
	
	
}

.populaires img
{
    height: 200px
	width: 45%;
	object-fit: cover;
	
}

.populaires  p
{
	font-size: 2.4em;
}

.etoiles_icones
{
	padding-top: 5%;
}



#suphebergement1
{
	
	background-color: #F2F2F2
}


.cartes_hebergement img
{
	
    height: 270px;
	width: 100%;
	object-position: center;
	object-fit: cover;
}


.activites img
{
    max-height: 350px;
	width: 100%;
	object-position: 50% 40%;
	object-fit: cover;
}



footer li
{
	list-style: none;
	
}

#footer
{
	margin: 0;
	padding: 3em;
}






















@media all and (min-width: 991px)
{


#logomenu
{
	display: flex;
	justify-content: space-between;
}

#Filtres 
{
	display: flex;
	justify-content: space-between;
}

#Filtres div
{
	margin-right: 3%;
	
}


#section1
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}



#suphebergement1
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-left: 3%;
	width: 65%;
	
}

.populaires 
{	

}

.populaires img
{
    height: 100px;
	width: 35%;
	object-fit: cover;
	object-position: center;
	
}

.populaires figcaption
{

	background-color: white;
	padding-left: 5%;	
}	

.populaires p

{
	
	font-size: 0.9em;
}

#etoiles_icones
{
	padding-top: 5%;
}


#suphebergement2
{
	height: 100%;
	background-color: #F2F2F2
	
}


#titrehebergement
{
	margin-left: 5%;
	margin-top: 9%;
}

#suphebergement21
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}


.cartes_hebergement 
{
    margin: 20px;		
}

.cartes_hebergement figcaption
{
	
	background-color: white;
	padding: 5%;
    
}


.cartes_hebergement img
{
    height: 100px;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

.cartes_hebergement p
{
	font-size: 0.9em;
	line-height: 60%;
}






#footer
{    
	display: flex;
	justify-content: space-between;
}

footer div
{
	
    padding-right: 5em;

}

footer ul 
{
	padding-left: 0;
}

}









figure
{
	border: 3px solid green;
}

div
{
border-width:1px;
border-color:yellow;
border-style: solid;

}

#section1
{
	border-width: 2px;
	border-color: red;
	border-style: solid;
}

#section2
{
	border-width: 2px;
	border-color: blue;
	border-style: solid;
}

