#section1
{
	display: flex;
	flex-direction: row-reverse  ;
}

#hebergement1, #hebergement2
{
	display: flex;
}

div
{
border-width:1px;
border-style:solid;
border-color:yellow;
}

.hebergement
{
	max-height: 300px;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.suphebergement
{
	margin: 15px;
}