body
{
    font-family: 'Raleway', sans-serif;
	
}

a
{
	text-decoration: none;
	color: black;
}

.bloc_page
{
	margin-left: 3% ;
	margin-right: 3%;
}



header
{
	padding-bottom: 5%;
	position: relative;
}


#logo
{
	width: 25%;
	padding-left: 0;
}

.S_inscrire
{
	float:right;
}


.S_inscrire a
{
	text-decoration: none;
	font-size: 2.4em;
	font-weight: bold;
	color: #0065FC;
	
}


#logoinscription
{
	
	margin-bottom: 2em;

}


#menu
{
	padding-top: 2em; 
	border-bottom: solid 8px #F2F2F2;	
	
}



nav ul
{
	display: flex;
	justify-content: space-between;
	list-style-type: none; 
	padding-left: 0;
	margin-bottom: 0;	
}



#menu li
{
   width: 50%;
   text-align: center;
}


#menu li a
{
	text-decoration: none;
	font-size: 	2.4em;
}



nav ul li:hover 
{
    border-bottom: solid 8px #0065fc;  
}    

nav li a :hover
{
	color: #0065fc;
}




form
{
	display: flex;
	
}

#rechercher
{
	
	display: none;
	margin-top:5%;
}

.map-marker
{
	margin-top:5%;
	height: 91px;
	width: 10%;
	background-color: #F2F2F2;
	border-radius: 35% 0 0 35%;
	text-align: center;
}

.fa-map-marker-alt
{
	padding-top: 25px;
	font-size: 2em;
}

#formulaire
{
	
	margin-top:5%;
	width: 74%;
	height: 85px;
	
}

.rechercher
{
	height: 100%;
	width: 100%;
	font-size: 300%;
		
}

#loupe
{
	width: 10%;
	text-align: center;
	margin-top: 5%;
	
	
}

.fa-search
{
	width: 100%;
	height: 50%;
	font-size: 1.5em;
	background-color: #0065FC;
	padding-bottom: 30px;
	border-radius: 35%;

}

.fa-search 
{

}




.filtres
{
	margin-bottom: 3%;
	border: red 4px solid;
    border-radius:  ;
    
}

.filtres:hover
{
	color: #0065FC;
}

.ecofamilles 
{
	display: flex;
	font-size: 3em;
}

.ecofamilles .filtres
{
	width: 50%;
}



.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
}


.economique, .familial
{
	background-color: #DEEBFF;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 50px;
	border-radius: 50% ;
	text-align: center;
	line-height: 100px;
}	



.romantique, .animaux
{
	background-color: #DEEBFF;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 50px;
	border-radius: 50% ;
	text-align: center;
	line-height: 100px;
	
}


#populairesettitre
{
	background-color: #F2F2F2;
}

.populaires
{
	display: flex;
	background-color: white;
	border: white 10px solid;
	border-radius: 9% ;
	box-shadow: #e2dddd 3px 3px 5px;
} 


.populaires img
{
    
	height: 280px;
	width: 32%;
	object-fit: cover;
	border-radius: 15% 0 0 15%;
}

.populaires figcaption
{
	padding-left: 3%;

}

.populaires  p
{
	font-size: 2.4em;
}



.cartes_hebergement img
{
    max-height: 350px;
	width: 100%;
	object-fit: cover;
}



#section2
{
	margin-bottom: 8%;
}

.activites img
{
    max-height: 350px;
	width: 100%;
	object-position: 50% 40%;
	object-fit: cover;
}







footer li
{
	list-style: none;
	
}

#footer li
{
	
	margin-left: 4%;
}






















@media  (min-width: 991px)
{

	
header
{
	padding: 0;
}


.S_inscrire a
{
	font-size: 1em;
	font-weight: bold;
}


.S_inscrire 
{
	padding-top: 12px;
}


#logoinscription
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;

}

#logo
{
	padding-left: 0;
	width: 75px;
	object-fit: contain;
}



#menu
{
	padding-top: 0;
	border-bottom: solid 8px transparent;
	
}


nav ul
{
	display: flex;
	justify-content: space-between;
	list-style-type: none; 
	padding-left: 0;
	margin-bottom: 0;*
	margin-top: 0;
}



#menu ul li
{
	font-size: 0.4em;
	border-bottom: solid 8px transparent;
	padding-top: 2em;
	margin-right: 5px;
	
}

#menu li a
{
	
	padding-right: 22px;
	padding-left: 22px;
	
}	



nav ul li:hover 
{
	border-top: solid 4px #0065fc;  
	
}
	
#menu li a:hover
{
	color: #0065fc;
}







#trouvez
{
   margin-bottom: 4px;
}

.enpleincentreville
{
	margin-top: 0;
	margin-bottom: -40px;
	font-size: 0.73em;
}


.map-marker
{
	height: 2.1em ;
	width: 2em;
	background-color: #F2F2F2;
	padding-top: 11px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 30% 0 0 30%;
}

.fa-map-marker-alt
{
	padding-top: 0px;
	font-size: 1.3em
}

.fa-search
{
	display: none;
}


#formulaire
{
	width: 17%;
	height: 72	px;
}


.rechercher
{
	height: 2.9em ;
	width: 100%;
	font-size: 83%;
}



#rechercher
{
	display: inline;
	background-color: #0065FC;
	margin-top: 0;
	box-sizing: content-box;
	height: 2.2em ;
	width: 100%;
	font-size: 1.1em;
	color: white;
	border-radius: 0 13px 13px 0;
}




#filtres
{
	position: relative;
}	

.titrefiltres
{
	position: absolute;
	font-size: 1.1em;	
	width: 75px;
	padding-top: 0.6%;
}


.filtres span
{
	margin-right: 5%;
}




.filtres b
{
	display: flex;
	padding-right: 3%;
	padding-top: 2.5%;
}

.filtres
{
	width: auto;
	display: flex;
	margin-right: 20px;
	
}

.ecofamilles
{
	display: inline-flex;
	height: 100%;
	font-size: 1.1em;	
	margin-left: 7%;
}

.romanimaux
{
	display: inline-flex;
	font-size: 1.1em;
}




.economique, .familial
{
	background-color: #DEEBFF;
	width: 30px;
	height: 30px;
	font-size: 15px;
	border-radius: 30% ;
	text-align: center;
	line-height: 30px;
}	



.romantique, .animaux
{
	background-color: #DEEBFF;
	width: 30px;
	height: 30px;
	font-size: 15px;
	border-radius: 30% ;
	text-align: center;
	line-height: 30px;
}


.information
{
	display: block;
}








#section1
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

#populairesettitre
{
	width: 28%;
	background-color: #F2F2F2;
	margin-bottom: 0;
}


.titrehebergementpop
{
	width: auto;
	background-color: #F2F2F2;
	font-size: 1.3em;
	padding-left: 4%;
}


.fa-chart-line
{
	float: right;
}


#populaires
{
	
	background-color: #F2F2F2;
}

#populaires figure 
{
	width: 85%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	
}


.populaires
{
	background-color: white;	
	margin-bottom: 14%;
	border: white 4px solid;
	border-radius:  8%;
	
}

.populaires img
{
	height: 115px;
	object-fit: cover;
	min-width: 39%;
	border-radius: 13% 0 0 13%;
}

.populaires figcaption
{
	padding-bottom: 3%;

}

.populaires p
{

	font-size: 0.8em;

}


#hebergementettitre
{
	width: 72%;
	background-color: #F2F2F2;
	margin-right: 4%;
	
}

.titrehebergementmars
{
	width: auto;
	background-color: #F2F2F2;
	font-size: 1.3em;
	padding-left: 2%;
	
}


#hebergement
{
	width: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-wrap: wrap;
}
	

.lien_cartes_hebergement
{
	width: 30%;
	margin: auto;
	margin-bottom: 3%;
}

 .cartes_hebergement 
{
	background-color: white;
	width: 100%;	
	margin: 0;
}



.cartes_hebergement img
{
    height: 90px;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

.cartes_hebergement figcaption
{
	
	
	margin-left: 5%;
	margin-bottom: 5%;
	
}


.cartes_hebergement p
{
	font-size: 0.8em;
	line-height: 60%;
	
	color: black;
}

.afficherplus
{
	font-weight: bold;
	width: 100%;
	padding-left: 2%;
	padding-bottom: 3%;
}




#section2
{
	display: flex;
	margin-bottom: 3%;
	font-size: 0.8em;
}

#section2 div
{
	margin-right: 3%;
}

div .activites
{
	width: 100%;
	margin: 0;
}

.activites figcaption
{
	margin-left: 5%;
	height: 30px;
}


#vieux-port	 img
{
    height: 440px;
	object-fit: cover;
}



#pomegues-frioul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#pomegues img
{
    height: 150px;
	object-fit: cover;
	object-position: 50% 35%;
}

#frioul img
{
	height: 85px;
	object-fit: cover;
	object-position: 50% 15%;
}



#calanques  img
{
	height: 440px;
	object-fit: cover;
}



#garde-longchamp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between ;
	
}


#garde-longchamp  img
{
    max-height: 118px;
	
}



#footer
{    
	display: flex;
	
	
}

footer div
{
	width: 100%;
	
}

#footer li
{
	font-size: 0.7em;
	margin-left: -2%;
}



}






