
body
{
    font-family: 'Raleway', sans-serif;

}

#logo
{
	width: 10%;
	
}

#Sinscrire
{
	float: right;
}


 nav ul
{
	display: flex;
	list-style-type: none; 
}

nav li
{
	margin-right: 15px;
}



@media all and (min-width: 991px)



{
#section1
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.hebergement1
{
	width: 250px;
	height: 120px;
	display: flex;	
	margin: 30px;
}

.hebergement2
{
	width: 200px;
	height: 120px;
	display: flex;
	margin: 10px;
	
}

#suphebergement2
{
	display: flex;
	flex-direction: column ;
}



#Titreh1suphebergement2
{
    margin-left: 11%;
}

#suphebergement21
{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 100%;
	margin: auto;


}


}
	






div
{
border-width:1px;
border-color:yellow;
border-style: solid;

}

#section1
{
	border-width: 2px;
	border-color: red;
	border-style: solid;
}

#section2
{
	border-width: 2px;
	border-color: blue;
	border-style: solid;
}

