
body
{
    font-family: 'Raleway', sans-serif;
	
}

#bloc_page
{
	margin-left: 3% ;
	margin-right: 3%;
}



header
{
	padding-bottom: 5%;
	position: relative;
}


#logo
{
	width: 25%;
	padding-left: 0;
}

.S_inscrire
{
	float: right;
	
}


.S_inscrire a
{
	text-decoration: none;
	font-size: 2.4em;
	
}


#logoinscription
{
	
	margin-bottom: 2em;

}


#menu
{
	padding-top: 2em; 
	border-bottom: solid 8px #F2F2F2;	
	
}



nav ul
{
	display: flex;
	justify-content: space-between;
	list-style-type: none; 
	padding-left: 0;
	margin-bottom: 0;
	
	
}

.li1
{
	padding-left: 4.5%;
}


.li2
{
	
	padding-bottom: 2em;
	padding-left: 17%;
}


#menu li a
{
	text-decoration: none;
	font-size: 	2.4em;
	padding-right: 98px;
}	



nav ul li:hover 
{

    border-bottom: solid 8px #0065fc;  

}

header h4
{
	word-break: 
}

form
{
	display: flex;
	
}

#rechercher
{
	
	display: none;
	margin-top:5%;
}

.map-marker
{
	margin-top:5%;
	height: 91px;
	width: 10%;
	background-color: #F2F2F2;
	border-radius: 35% 0 0 35%;
	text-align: center;
}

.fa-map-marker-alt
{
	padding-top: 25px;
	font-size: 2em;
}

#formulaire
{
	
	margin-top:5%;
	width: 74%;
	height: 85px;
	
}

.rechercher
{
	height: 100%;
	width: 100%;
	font-size: 300%;
		
}

#loupe
{
	width: 10%;
	text-align: center;
	margin-top: 5%;
	
	
}

.fa-search
{
	width: 100%;
	height: 50%;
	font-size: 1.5em;
	background-color: #0065FC;
	padding-bottom: 30px;
	border-radius: 35%;

}





.filtres
{
	margin-bottom: 3%;
	border: red 1px solid;
	margin-right: auto;	
}



.filtres:hover
{
	font-size: 2em;
}

.ecofamilles 
{
	display: flex;
	font-size: 3em;
	
}

.ecofamilles .filtres
{
	width: 50%;
}



.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
}


.economique, .familial
{
	background-color: #DEEBFF;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 50px;
	border-radius: 50% ;
	text-align: center;
	line-height: 100px;
}	



.romantique, .animaux
{
	background-color: #DEEBFF;
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 50px;
	border-radius: 50% ;
	text-align: center;
	line-height: 100px;
	
}




.populaires
{
	display: flex;
} 


.populaires img
{
    height: 280px;
	width: 32%;
	object-fit: cover;

}

.populaires figcaption
{
	padding-left: 3%;

}

.populaires  p
{
	font-size: 2.4em;
}



.cartes_hebergement img
{
    max-height: 350px;
	width: 100%;
	object-fit: cover;
}

.cartes_hebergement figcaption
{
	
}

#section2
{
	margin-bottom: 8%;
}

.activites img
{
    max-height: 350px;
	width: 100%;
	object-position: 50% 40%;
	object-fit: cover;
}







footer li
{
	list-style: none;
	
}

#footer li
{
	
	margin-left: 4%;
}






















@media all and (min-width: 991px)
{

	

#logoinscription
{
	display: flex;
	justify-content: space-between;
}


#logo
{
	padding-left: 0;
    width: 75px;
	object-fit: contain;
}

#menu
{
	font-size: 0.7em;
	padding-top: 0;
	border-bottom: solid 8px transparent;
}

.S_inscrire a
{
	font-size: 1em;
	font-weight: bold;
}

.S_inscrire p
{
	margin-bottom: 0;
}


.S_inscrire 
{
	
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 12px;
}



nav ul
{
	margin-top: 0;
}
#menu ul li
{
	font-size: 0.6em;
	border-bottom: solid 8px transparent;
	padding-top: 4em;
}


nav ul li:hover 
{
    border-top: solid 4px #0065fc;  
	border-bottom: solid 8px transparent;
}

#menu li a 
{
   padding-right: 45px;
}

#trouvez
{
	margin-bottom: 4px;
}

#enpleincentreville
{
	margin-top: 0;
	margin-bottom: -40px;
}


.map-marker
{
	height: 2.1em ;
	width: 2em;
	background-color: #F2F2F2;
	padding-top: 11px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 30% 0 0 30%;
}

.fa-map-marker-alt
{
	padding-top: 0px;
	font-size: 1.3em
}

.fa-search
{
	display: none;
}


#formulaire
{
	
	width: 25%;
	height: 72	px;
}


.rechercher
{
	height: 2.9em ;
	width: 100%;
	font-size: 83%;
}



#rechercher
{
	display: inline;
	background-color: #0065FC;
	margin-top: 0;
	box-sizing: content-box;
	height: 2.2em ;
	width: 100%;
	font-size: 1.1em;
	color: white;
	border-radius: 0 13px 13px 0;
}






#filtres div
{
	float: left;	
}


div .filtres
{
	float: left;
}

.ecofamilles
{
	font-size: 1.1em;
	
	display: inline-flex;
}

.romanimaux
{
	display: inline-flex;
}

.filtres
{
	display: flex;
	margin-right: 5%;
}

.romantique
{
	margin-left: 10%;
}


.titrefiltres
{
	
}


.economique, .familial
{
	background-color: #DEEBFF;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 30% ;
	text-align: center;
	line-height: 30px;
}	



.romantique, .animaux
{
	background-color: #DEEBFF;
	width: 30px;
	height: 30px;
	font-size: 20px;
	border-radius: 30% ;
	text-align: center;
	line-height: 30px;
}


.information
{
	display: block;
}








#section1
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}



#populaires

{
	background-color: #F2F2F2;
}



.populaires
{
	background-color: white;

}

.populaires img
{
	height: 115px;
	object-fit: cover;
	min-width: 39%;
}

.populaires figcaption
{
	padding-bottom: 3%;

}

.populaires p
{

	font-size: 0.8em;

}

#populairesettitre
{
	width: 28%;
	background-color: #F2F2F2;
	margin-bottom: 0px;
}

#hebergementettitre
{
	width: 72%;
	background-color: #F2F2F2;
	margin-right: 3%;
	
}

.titrehebergement
{
    
	background-color: #F2F2F2;
	margin-left: 1.9em;
	font-size: 1.3em;
}



#hebergement
{
	width: 100%;
	background-color: #F2F2F2;
	display: flex;
	flex-wrap: wrap;
    
}
	



	

.cartes_hebergement 
{
	background-color: white;
	max-width: 23%;
	
}

#hebergement figure
{
	margin-right: 0;
}
.cartes_hebergement img
{
   
    height: 90px;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

.cartes_hebergement figcaption
{
	
	
	margin-left: 5%;
	margin-bottom: 5%;
	
}


.cartes_hebergement p
{
	font-size: 0.8em;
	line-height: 60%;
	
	color: black;
}






#section2
{
	display: flex;
	margin-bottom: 3%;
}

#section2 div
{
	margin-right: 3%;
	
}

div .activites
{

	width: 100%;
	margin: 0;
    
}

.activites figcaption
{
	margin-left: 5%;
}


#vieux-port	 img
{
    height: 440px;
	object-fit: cover;
}

#pomegues-frioul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}



#pomegues img
{
    height: 200px;
	object-fit: cover;
	object-position: 50% 30%;
}

#frioul img
{
	height: 107px;
	object-fit: cover;
	object-position: 50% 15%;
}

#calanques  img
{
	height: 440px;
	object-fit: cover;
}



#garde-longchamp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between ;
	
}


#garde-longchamp .activites img
{
    max-height: 200px;
}



#footer
{    
	display: flex;
	
	
}

footer div
{
	width: 100%;
	
}

#footer li
{
	
	margin-left: 0;
}



}









figure
{
	border: 3px solid green;
}



#section1
{
	border-width: 2px;
	border-color: red;
	border-style: solid;
}

#section2
{
	border-width: 2px;
	border-color: blue;
	border-style: solid;
}

div
{
	border: solid 1px yellow;
}

li
{
	border: 2px purple solid;
}
